<div id="wrap">
		<script type="text/javascript">

  		var $gnbH;
  		var $loc;
  		var $locBar;
  		var $locBar1dp;
  		var $locBar2dp;
  		var $locBar3dp;
  		var idx;

		$(function(){
			// 2016-02-25 gnb 서브메뉴 활성화
			$("body").on("focus mouseenter", "#gnb .gnbBtn", function(){
				var idx = $("#gnb .gnbBtn").index($(this));
				$("#gnb .gnbBtn").each(function(index){
					if(idx == index){
						$(this).parent().addClass("ons");
					}else{
						$(this).parent().removeClass("ons");
					}
				});
			});
			$("body").on("mouseleave", "#gnb", function(){
				$("#gnb>ul>li").removeClass("ons");
			});


			if (typeof locOn == 'undefined') {
				'로케이션바 위치 활성화가 안되있습니다.';
				return false;
			} else {
				$loc = locOn.split(',');
			}

			$gnbH = $("li[class*='gnb']");
			$gnbLine = $('#gnb .line');
			$locBar = $('#pageNavi > ul');

			$locBar.eq($loc[0]).show();

			if ($loc[0] < 8) {
				$locBar1dp = $locBar.eq($loc[0]).find('.menuBox').eq(0).find('a');
				$locBar2dp = $locBar.eq($loc[0]).find('.menuBox').eq(1).find('a');

				$gnbH.eq($loc[0]).addClass('active');

				$locBar1dp.eq($loc[0]).addClass('active');
				$locBar2dp.eq($loc[1]).addClass('active');

				$('.depth2, .depth3').find('> a').on('click', function(e){
					if ($loc[0] != "0") {
						e.preventDefault();
					};
				});

				//로케이션바 뎁스별 메뉴명 삽입
				$locBar.eq($loc[0]).find('.menu > a').text($locBar1dp.eq($loc[0]).text());
				$locBar.eq($loc[0]).find('.depth2 > a').text($locBar2dp.eq($loc[1]).text());

				if ($locBar.eq($loc[0]).find('.depth3').length > 1) {
					$locBar.eq($loc[0]).find('.depth3').hide();
					$locBar.eq($loc[0]).find('.depth3').eq($loc[1]).show();
					$locBar3dp = $locBar.eq($loc[0]).find('.depth3').eq($loc[1]).find('.menuBox a');
					$locBar.eq($loc[0]).find('.depth3').eq($loc[1]).find('> a').text($locBar3dp.eq($loc[2]).text());
				} else {
					$locBar3dp = $locBar.eq($loc[0]).find('.depth3').eq(0).find('.menuBox a');

					if ($loc[0] != "0") {
						$locBar.eq($loc[0]).find('.depth3 > a').text($locBar3dp.eq($loc[2]).text());
					};
				};

				$locBar3dp.eq($loc[2]).addClass('active');

				if ($loc.length < 3) {
					$locBar.find('.depth3').hide();
				};
			} else {
				$('#pageNavi ul li:last-child').css('pointer-events','none');
			};

			//starts($loc[0], $loc[1], $loc[2]);
		});

		// 2015-11-19 열렸다 닫히기
		/*
		function starts(num1, num2, num3){
			var cont = $('#pageNavi > ul').eq(num1),
				  totar = cont.find("li").length-1,
				  hidd = cont.find("li:hidden").length,
				  th = totar -hidd,
				  cont3 = cont.find("li").eq(th).find(".menuBox");

				if(num1 == 0){
					cont3 = cont.find("li").eq(th-1).find(".menuBox");
				}

			cont3.show().attr("ccc", "ddd");

			setTimeout(function(){
				cont3.slideUp(200);
			}, 1500);
		}
		*/
	</script>

	<div id="header" class="newUi">
		<div class="inner">
			<div class="topFamLink">
				<a href="javascript:link9901();" class="active">교촌치킨</a>
				<a href="javascript:link9902();">교촌 F&amp;B</a>
			</div>
			<div id="sua"><!-- Service Utilty Area -->
				<span class="link">

					<!--
					<a href="/member/login.asp?returnURL=%2Fevent%2Fing%2Easp">로그인</a>
					<a href="/member/join.asp">아이디 등록</a>
					-->
					<!-- s : 2019.04.23 구글시트수정요청 -->
					<!--<a href="javascript:link0801();">로그인</a>
					<a href="javascript:link0804();">아이디 등록</a>-->
					<!-- e : 2019.04.23 구글시트수정요청 -->

					<a href="javascript:link0701();">고객센터</a>
					<a href="/etc/sitemap.asp">사이트맵</a>
					<a href="https://www.kyochonfnb.com/business/domestic.do" target="_blank" title="새창열림">가맹점 개설안내</a>
				</span>
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online.gif" alt="온라인 주문하기" /></a> -->
			</div>

			<!--logo  -->
			<h1 class="season">
				<a href="/main/index.asp">
					<!--
					<img src="/images/common/h1_logo.png" alt="KyoChon 1991" />
					<img src="/images/common/h1_logo_spring.png" alt="KyoChon 1991" />
					<img src="/images/common/h1_logo_summer.png" alt="KyoChon 1991" />
					<img src="/images/common/h1_logo_autumn.png" alt="KyoChon 1991" />
					<img src="/images/common/h1_logo_winter.png" alt="KyoChon 1991" />
					<img src="/images/common/h1_logo_halloween.png" alt="KyoChon 1991" />
					<img src="/images/common/h1_logo_sooneung.png" alt="KyoChon 1991 수능대박" />
					-->
					
					<img src="/images/common/h1_logo_new2022.png" alt="KyoChon 1991">
					
				</a>
			</h1>

			<div id="gnb"><!-- Global Navigation Bar -->
				<ul class="c_box">
					<!-- 메뉴 링크 변경 link0101에서 link0102로 -->
					<li class="gnb01"><a href="javascript:link0102();" class="gnbBtn">메뉴</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<!-- <a href="javascript:link0101();">E-쿠폰</a> -->
								<!--<a href="/menu/newmenu.asp">신메뉴</a>-->
								<a href="/menu/chicken.asp">치킨</a>
								<!--<a href="/menu/burger.asp">버거</a>-->
								<a href="/menu/side.asp">사이드</a>
								<a href="/menu/liquor.asp">수제맥주</a>
								<!-- <a href="/menu/drink.asp">음료&기타</a> -->
								<!--<a href="http://m.kyochon.com/voucher/voucher_list" target="_blank">상품권</a>-->
								<!-- <a href="javascript:link0105();">모바일상품권</a> -->
							</div>
						</div>
					</li>
					<li class="gnb02"><a href="javascript:link0201();" class="gnbBtn">매장안내</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<a href="/shop/domestic.asp">국내매장</a>
								<a href="http://www.kyochonfnb.com/business/overseas.do">해외매장</a>
							</div>
						</div>
					</li>
					<li class="gnb03 active"><a href="javascript:link0301();" class="gnbBtn">이벤트</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<a href="/event/ing.asp">진행중인 이벤트</a>
								<a href="/event/end.asp">지난 이벤트</a>
								<a href="/event/winner.asp">당첨자 발표</a>
							</div>
						</div>
					</li>

					<!-- <li class=""><a href="javascript:link0401();" class="gnbBtn">with교촌</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<a href="/with/recipe.asp">나만의 레시피</a>
								<a href="http://www.kyochonfnb.com/contribution/newContribution01.asp" target="_blank" title="교촌 행복 채움 프로젝트 페이지로 새 창 열림">행복 채움 프로젝트</a>
							</div>
						</div>
					</li> -->
					<li class="gnb04">
						<a href="/app_order/app_order.asp" class="gnbBtn">주문</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<a href="/app_order/app_order.asp">앱주문</a>
								<a href="/shop/domestic.asp">전화주문</a>
							</div>
						</div>
					</li>
					<li class="gnb05">
						<a href="/e-coupon/e-coupon.asp" class="gnbBtn">E-쿠폰</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<a href="/e-coupon/e-coupon.asp?tab=order">E-쿠폰 주문</a>
								<a href="/e-coupon/e-coupon.asp?tab=purchse">E-쿠폰 구매</a>
							</div>
						</div>
					</li>
					<li class="gnb06" style="padding-right:2px"><a href="javascript:link0501();" class="gnbBtn">교촌스토리</a>
						<div class="gnbSub">
							<p class="bul"></p>
							<div class="gnbSubBox">
								<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
								<a href="https://www.kyochonfnb.com/about/ceo.do">CEO 인사말</a>
								<!-- <a href="/company/promise.asp">소비자와의 약속</a> -->
								<a href="https://www.kyochonfnb.com/prcenter/media.do">PR센터</a>
								<a href="/cs/notice.asp">공지사항</a>
							</div>
						</div>
					</li>
					<!-- <li class="gnb06"><a href="javascript:link0601();" _onclick="window.open('/online/popup_20171121.asp', 'orderInfo', 'width=430,height=332');" class="gnbBtn">온라인주문</a></li> -->
				</ul>
			</div>
		</div>
	</div>


	<div id="pageNavi">
		<!-- 메뉴 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">메뉴</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">E-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">이벤트</a>
				<div class="menuBox">
					<!-- <a href="/menu/chicken.asp">E-쿠폰</a> -->
					<!--<a href="/menu/newmenu.asp">신메뉴</a>-->
					<a href="/menu/chicken.asp">치킨</a>
					<!--<a href="/menu/burger.asp">버거</a>-->
					<a href="/menu/side.asp">사이드</a>
					<a href="/menu/liquor.asp">수제맥주</a>
					<!-- <a href="/menu/drink.asp">음료&기타</a> -->
					<!--<a href="https://m.kyochon.com/voucher/voucher_list" target="_blank">상품권</a>-->
					<!-- <a href="/menu/dream.asp">모바일상품권</a> -->
				</div>
			</li>
			<li class="depth3" style="display: none;">
				<a href="/menu/chicken.asp?">전체메뉴</a>
				<a href="/menu/chicken.asp?code=13">[NEW]시즌한정메뉴</a>
				<a href="/menu/chicken.asp?code=10">블랙시리즈</a>
				<a href="/menu/chicken.asp?code=1">교촌시리즈</a>
				<a href="/menu/chicken.asp?code=4">허니시리즈</a>
				<a href="/menu/chicken.asp?code=2">레드시리즈</a>
				<!--<a href="/menu/chicken.asp?code=9">교촌신화시리즈</a>-->
				<a href="/menu/chicken.asp?code=8|3">믹스시리즈</a>
				<a href="/menu/chicken.asp?code=5">후라이드시리즈</a>
				<!--<a href="/menu/chicken.asp?code=12">스페셜</a>-->
				<!--<a href="/menu/chicken.asp?code=6">교촌순살시리즈</a>-->
				<!-- 2022-08-03  발사믹 시리즈 업데이트-->
				<!--<a href="/menu/chicken.asp?code=11">교촌발사믹시리즈</a>-->
				<!--<a href="/menu/chicken.asp?code=3">교촌반반시리즈</a>-->
				<!-- <a href="/menu/chicken.asp?code=7">교촌샐러드시리즈</a> -->
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();" ><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 매장안내 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">매장안내</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">E-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">국내매장</a>
				<div class="menuBox">
					<a href="/shop/domestic.asp">국내매장</a>
					<a href="/shop/overseas.asp">해외매장</a>
				</div>
			</li>
			<li class="depth3" style="display: none;"><a href="#" class="openMenu">매장리스트</a>
				<div class="menuBox">
					<a href="https://www.kyochonfnb.com/prcenter/history.do">매장리스트</a>
					<a href="/company/history.asp">매장상세</a>
				</div>
			</li>
			<li class="depth3" style="display: none;"><a href="#" class="openMenu">전체<i class="blind">매장</i></a>
				<div class="menuBox">
					<a href="https://www.kyochonfnb.com/prcenter/history.do">전체<i class="blind">매장</i></a>
					<a href="/company/history.asp">지역별<i class="blind">매장</i></a>
				</div>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 이벤트 -->
		<ul style="">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">이벤트</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp" class="active">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">E-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">진행중인 이벤트</a>
				<div class="menuBox">
					<a href="/event/ing.asp" class="active">진행중인 이벤트</a>
					<a href="/event/end.asp">지난 이벤트</a>
					<a href="/event/winner.asp">당첨자 발표</a>
				</div>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 주문-->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">주문</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">E-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">앱주문</a>
				<div class="menuBox">
					<a href="javascript:void(0);">앱주문</a>
					<a href="/shop/domestic.asp">전화주문</a>
				</div>
			</li>
		</ul>

		<!-- e-쿠폰 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">E-쿠폰</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">E-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">E-쿠폰 주문</a>
				<div class="menuBox">
					<a href="javascript:void(0);">E-쿠폰 주문</a>
				</div>
			</li>
		</ul>

		<!-- with 교촌 -->
		<!-- <ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">with교촌</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">e-쿠폰</a>
					<a href="/online/online.asp">온라인주문</a>
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">나만의 레시피</a>
				<div class="menuBox">
					<a href="/with/recipe.asp">나만의 레시피</a>
					<a href="http://www.kyochonfnb.com/contribution/newContribution01.asp" target="_blank" title="교촌 행복 채움 프로젝트 페이지로 새 창 열림">행복 채움 프로젝트</a>
				</div>
			</li>
			<li class="depth3"><a href="#" class="openMenu">아이디어공작소</a>
				<div class="menuBox">
					<a href="/with/idea.asp">아이디어공작소</a>
					<a href="/with/idea_story.asp">아이디어공작소 Story</a>
				</div>
			</li>
			<li class="right">
				
			</li>
		</ul>-->

		<!-- 교촌스토리 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">교촌스토리</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">e-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">교촌스토리</a>
				<div class="menuBox">
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
					<a href="https://www.kyochonfnb.com/about/ceo.do">CEO 인사말</a>
					<!-- <a href="/company/promise.asp">소비자와의 약속</a> -->
					<a href="https://www.kyochonfnb.com/prcenter/media.do">PR센터</a>
					<a href="/cs/notice.asp">공지사항</a>
				</div>
			</li>
			<li class="depth3" style="display: none;"><a href="#" class="openMenu">CF</a>
				<div class="menuBox">
					<a href="https://www.kyochonfnb.com/prcenter/media.do">CF</a>
					<a href="/with/idea_story.asp">CF 스케쥴</a>
					<a href="/with/idea_story.asp">동영상</a>
					<!-- <a href="/with/idea_story.asp">촬영스케치</a>
					<a href="/with/idea_story.asp">지면광고</a> -->
				</div>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 온라인주문 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">온라인주문</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">e-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">온라인주문</a>
				<div class="menuBox">
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="/online/lately.asp">최근주문내역</a>
					<a href="/online/delivery.asp">배달주소관리</a>
				</div>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 고객센터 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="menu">
				<a href="javascript:void(0);" class="openMenu">고객의소리</a>
				<div class="menuBox">
					<a href="/menu/chicken.asp">메뉴</a>
					<a href="/shop/domestic.asp">매장안내</a>
					<a href="/event/ing.asp">이벤트</a>
					<a href="/app_order/app_order.asp">주문</a>
					<a href="/e-coupon/e-coupon.asp">e-쿠폰</a>
					<!--<a href="/online/online.asp">온라인주문</a>-->
					<a href="/company/about.asp#intro">교촌스토리</a>
					<a href="https://www.kyochonfnb.com/prcenter/history.do">교촌스토리</a>
					<a href="/company/about.asp#intro">고객센터</a>
				</div>
			</li>
			<li class="depth2">
				<a href="javascript:void(0);" class="openMenu">FAQ</a>
				<div class="menuBox">
					<a href="https://member.kyochonfnb.com/cs/CSMain.do">FAQ</a>
					<a href="/cs/csVoice.asp">고객의소리</a>
					<a href="/cs/csVoice_list.asp">고객의소리답변</a>
				</div>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 마이페이지 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">마이페이지</a>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 로그인 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">로그인</a>
			</li>
		</ul>

		<!-- 아이디 등록 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">아이디 등록</a>
			</li>
		</ul>

		<!-- 이용약관 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li><a href="javascript:void(0);" class="openMenu">이용약관</a></li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 개인정보처리방침 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li><a href="javascript:void(0);" class="openMenu">개인정보처리방침</a></li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 영상정보처리기기 운영관리 방침 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li><a href="javascript:void(0);" class="openMenu">영상정보처리기기 운영관리 방침</a></li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 찾아오시는길 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">찾아오시는길</a>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 사이트맵 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">사이트맵</a>
			</li>
			<li class="right">
				<!-- <a href="javascript:void(0);"><img src="/images/common/btn_top_call_s.gif" alt="1577-1991" /></a> -->
				<!-- <a href="javascript:link0601();"><img src="/images/common/btn_top_online_s.gif" alt="온라인 주문하기" /></a> -->
			</li>
		</ul>

		<!-- 교촌챗봇 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">교촌챗봇 주문번호 확인</a>
			</li>
		</ul>

		<!-- 로그인 -->
		<ul style="display:none;">
			<li class="home"><a href="/main/index.asp">Kyochon home</a></li>
			<li class="">
				<a href="javascript:void(0);" class="openMenu">비밀번호 변경 안내</a>
			</li>
		</ul>
	</div>
		<!--include virtual ="/event/CBfestival/lay.asp"-->

<!-- s : 이열치맥프로모션2탄 ( 2018.07.10 ) -->
		<!-- include virtual ="/event/event213/lay.asp"-->
<!-- e : 이열치맥프로모션2탄 ( 2018.07.10 ) -->


	<div id="container">
		<div id="contents">
			<h2 class="tac">이벤트</h2>
			<div id="section"><!-- 내용 -->
				<!--[s] tab -->
				<div class="tabImg bg_event">
					<a href="javascript:link0301();" class="icon01 active">진행중인 이벤트</a>
					<a href="javascript:link0302();" class="icon02">지난 이벤트</a>
					<a href="javascript:link0303();" class="icon03">당첨자 발표</a>
				</div>
				<!--[e] tab -->

				<ul class="eventList mt50">
					<!--[s] 반복 -->
					
					<li>
						<p class="img"><a href="ing_view.asp?event_seq=368"><img src="/uploadFiles/TB_EVENT/list(16).jpg" alt="교촌 방콕점보윙 10% 할인" width="686" height="249"></a></p>
						<div>
							<span class="progress">진행</span>
							<dl>
								<dt><a href="ing_view.asp?event_seq=368">교촌 방콕점보윙 10% 할인</a></dt>
<dd>이벤트기간 : 2023-03-17 ~ 2023-03-31</dd>
							</dl>
						</div>
					</li>
						
					<li class="right">
						<p class="img"><a href="ing_view.asp?event_seq=367"><img src="/uploadFiles/TB_EVENT/list(17).jpg" alt="https://b07a4.app.link/89oNrnUCKxb" width="686" height="249"></a></p>
						<div>
							<span class="progress">진행</span>
							<dl>
								<dt><a href="ing_view.asp?event_seq=367">함께 응원해요. 1만원상당의 혜택</a></dt>
<dd>이벤트기간 : 2023-03-01 ~ 2023-04-02</dd>
							</dl>
						</div>
					</li>
						
					<li>
						<p class="img"><a href="ing_view.asp?event_seq=365"><img src="/uploadFiles/TB_EVENT/list_신메뉴.jpg" alt="방콕점보윙 신메뉴출시" width="686" height="249"></a></p>
						<div>
							<span class="progress">진행</span>
							<dl>
								<dt><a href="ing_view.asp?event_seq=365">[시즌한정] 교촌 신메뉴 '방콕점보윙' 출시</a></dt>
<dd>이벤트기간 : 2023-02-16 ~ 2023-03-31</dd>
							</dl>
						</div>
					</li>
						
					<li class="right">
						<p class="img"><a href="ing_view.asp?event_seq=364"><img src="/uploadFiles/TB_EVENT/list_블랙시크릿콤보s.jpg" alt="또 하나의 역작! 블랙시크릿" width="686" height="249"></a></p>
						<div>
							<span class="progress">진행</span>
							<dl>
								<dt><a href="ing_view.asp?event_seq=364">블랙시크릿[S] 와일드블랙소스 출시</a></dt>
<dd>이벤트기간 : 2023-02-16 ~ 2023-03-31</dd>
							</dl>
						</div>
					</li>
						
					<li>
						<p class="img"><a href="ing_view.asp?event_seq=362"><img src="/uploadFiles/TB_EVENT/list_브랙시크릿소스무료.jpg" alt="블랙시크릿 2/15" width="686" height="249"></a></p>
						<div>
							<span class="progress">진행</span>
							<dl>
								<dt><a href="ing_view.asp?event_seq=362">블랙시크릿 주문 시 와일드블랙소스 무료증정</a></dt>
<dd>이벤트기간 : 2023-02-16 ~ 2023-03-31</dd>
							</dl>
						</div>
					</li>
						
					<li class="right">
						<p class="img"><a href="ing_view.asp?event_seq=361"><img src="/uploadFiles/TB_EVENT/list_태국가자.jpg" alt="방콕점보윙 2/15" width="686" height="249"></a></p>
						<div>
							<span class="progress">진행</span>
							<dl>
								<dt><a href="ing_view.asp?event_seq=361">방콕점보윙 먹고 태국가자</a></dt>
<dd>이벤트기간 : 2023-02-15 ~ 2023-03-31</dd>
							</dl>
						</div>
					</li>
						
					<!--[e] 반복 -->
				</ul>
				<!--[s] Paging -->
				<div class="paging_all c_box mt30">
					<div class="paging">
						<a href="ing.asp"><img src="../images/common/btn_prev2.gif" alt="Start"></a>
						
						<a href="ing.asp?page=1"><img src="../images/common/btn_prev.gif" alt="Prev"></a>
						<span class="num">
						
							<strong>1</strong>
						
						</span>
						
						<a href="ing.asp?page=1"><img src="../images/common/btn_next.gif" alt="Next"></a>
						<a href="ing.asp?page=1"><img src="../images/common/btn_next2.gif" alt="End"></a>
					</div>
				</div>

				<!--[e] Paging -->
				
			</div>
		</div>
	</div>

		<script>

		$(function(){
			var date = new Date();

			var year = date.getFullYear();       
			var Month = "" + (date.getMonth()+1);
			var Day = "" + date.getDate();   
			var hour = "" +  date.getHours();

			var Today = year.toString() + Month + Day + hour;

			console.log(Today);
			if(eval(Today) >= '201983017'){

				console.log("숙성 로고 비노출");
				$('.logo_hide').hide();
			}
		})
		
	</script>
    <div id="footer" class="newUi">
		<div class="footCont">
			<div class="topLink">
				<span class="link">
					<a href="javascript:link0901();">이용약관</a>
					<a href="javascript:link0902();" class="privacy">개인정보처리방침</a>
					<a href="/etc/cctv_privacy.asp" class="">영상정보처리기기 운영관리 방침</a>
					<a href="javascript:openLay('mailLy');">이메일 무단수집거부</a>
					<a href="javascript:link0903();">찾아오시는 길</a>
				</span>
			</div>
			<div class="midLink">
				<img src="/images/common/ico_callNumber.svg" alt="전화주문 1577-1991">
				<span class="sns_links">
					<a href="https://www.facebook.com/kyochon1991" target="_blank" title="새창열림"><img src="/images/common/ico_facebook.svg" alt="교촌 facebook 바로가기"></a>
					<a href="https://www.instagram.com/kyochon_official" target="_blank" title="새창열림"><img src="/images/common/ico_insta.svg" alt="교촌 instagram 바로가기"></a>
					<a href="https://www.youtube.com/channel/UChcWXp8uJbcfq9EAIHp_bUw" target="_blank" title="새창열림"><img src="/images/common/ico_youtube.svg" alt="교촌 youtube 바로가기"></a>
					<a href="https://twitter.com/KYOCHON1991_" target="_blank" title="새창열림"><img src="/images/common/ico_twitter.svg" alt="교촌 트위터 바로가기"></a>
				</span>
				

				<a href="https://member.kyochonfnb.com/" target="_blank" class="bissMem" title="새창열림"><img src="/images/common/ico_franchise.svg" alt="가맹점 공간 바로가기"></a>
			</div>
			<div class="textBox">
				<span class="no_line">사업장소재지 : 39852 경상북도 칠곡군 가산면 송신로 78</span>
				<span>본사(오산교육원)주소 : 18150 경기도 오산시 동부대로 436번길 55-18</span>
				<span>상호명 : 교촌에프앤비(주)</span>
				<span>대표이사 : 윤진호</span><br>
				<span class="no_line">대표번호 : 031-371-3500</span>
				<span>소비자상담번호 : 080-320-3000</span>
				<span>사업자등록번호 : 513-81-16574</span>
				<span>통신판매업신고 : 2012-경상북도칠곡-00023호</span>
				<span>개인정보보호책임자 : 신용우</span>
				<span>영업시간 : 12:00~23:30</span>
			</div>
			<address>Copyright 2015 © KYOCHON F&amp;B. All rights reserved.</address>
			

			<div class="right">
				<!--
				<a href="javascript:void(0);"><img src="/images/common/banner_footer01.gif" alt="" /></a>
				<a href="javascript:void(0);"><img src="/images/common/banner_footer02.gif" alt="" /></a>
				-->
				<!--<a href="http://www.damgimssam.com/" target="_blank" title="새창열림" style="margin-top:-4px;"><img src="/images/common/banner_footer03.gif" alt="담김쌈 홈페이지 바로가기" /></a> -->
				<!-- <a href="http://www.kyochonfood.com//" target="_blank" title="새창열림"><img src="/images/common/banner_footer04.gif" alt="Kyochon맛솔 홈페이지 바로가기" /></a> -->
				<!--<a href="https://www.ageing72.com" target="_blank" title="새창열림" style="margin-top:-1px;" class="logo_hide" ><img src="/images/common/banner_footer05.png" alt="숙성72 홈페이지 바로가기"  /></a>-->
			</div>
		</div>
	</div>


<!--[s] 지난번과 동일하게 주문하기 -->
<div class="layerArea addPop addPop03" style="display:none">
	<p class="tit">지난번 주문내역 보기
		<a href="javascript:void(0);" class="closeLy"><img src="/images/common/btn_lay_close.gif" alt="닫기"></a>
	</p>
	<div class="contLy">
		<p class="txt">최근에 주문하신 내역입니다.</p>
		<div class="juso_list">
			<table cellspacing="0">
				<caption>최근에 주문하신 내역 리스트</caption>
				<thead>
				<tr>
					<th scope="col" width="120">주문일자</th>
					<th scope="col">메뉴</th>
					<th scope="col" width="250">주소</th>
					<th scope="col" width="160">배달매장</th>
					<th scope="col" width="90"></th>
				</tr>
				</thead>
				<tbody id="find-result-03-list">
				<tr>
					<td>
						2015-07-15<br>17:00
					</td>
					<td class="product">
						<!--[s] 많을 경우 반복 -->
						<dl>
							<dt></dt>
							<dd>교촌 허니 오리지날<br><span>15,000원</span></dd>
						</dl>
						<!--[e] 많을 경우 반복 -->
						<dl>
							<dt></dt>
							<dd>교촌 허니 오리지날<br><span>15,000원</span></dd>
						</dl>
						<dl>
							<dt></dt>
							<dd>교촌 허니 오리지날<br><span>15,000원</span></dd>
						</dl>
					</td>
					<td class="title">경기도 의왕시 내손동 845 포일자이 205동 204호</td>
					<td>
						<span class="type2j">
							포일내손<br>
							<span>Tel. 031-462-1991</span>
						</span>
						<p class="mt5"><span class="bs icon brown meddle mr5">주문가능</span></p>
					</td>
					<td>
						<a href="javascript:void(0);" class="bs btn red meddle">주문하기</a>
					</td>
				</tr>
				<tr>
					<td>
						2015-07-15<br>17:00
					</td>
					<td class="product">
						<!--[s] 많을 경우 반복 -->
						<dl>
							<dt></dt>
							<dd>교촌 허니 오리지날<br><span>15,000원</span></dd>
						</dl>
						<!--[e] 많을 경우 반복 -->
						<dl>
							<dt></dt>
							<dd>교촌 허니 오리지날<br><span>15,000원</span></dd>
						</dl>
						<dl>
							<dt></dt>
							<dd>교촌 허니 오리지날<br><span>15,000원</span></dd>
						</dl>
					</td>
					<td class="title">경기도 의왕시 내손동 845 포일자이 205동 204호</td>
					<td>
						<span class="type2j">
							포일내손<br>
							<span>Tel. 031-462-1991</span>
						</span>
						<p class="mt5"><span class="bs icon meddle mr5">주문불가</span></p>
					</td>
					<td></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--[e] 지난번과 동일하게 주문하기 -->





<!--[s] 장바구니 -->
<!--<a href="javascript:void(0);" class="quickCartBtn"><img src="/images/common/btn_q_cart.gif" alt="장바구니" /><span>(0)</span></a>-->

<div class="quickCart" style="display:none;">
	<!-- 타이틀 -->
	<div class="closeBox">
		<img src="/images/common/btn_q_cart.gif" alt="장바구니"><span>(0)</span>
	</div>
	<!-- 내용  -->
	<div class="quickCartCont">
		<p class="tar"><a href="javascript:;" onclick="order.getOrderHistoryList()"><img src="/images/common/btn_q_lately.gif" alt="지난번 주문내역 보기"></a></p>

		<div class="quickCartScroll">
			<div class="deliveryBox">
				<!-- 타이틀 -->
				<p class="tit">메뉴 (0)</p>

				<ul class="deliveryConts menu">
					<input type="hidden" id="coupon_order_id" value="202303271046573D71DN">
					<!--[s] 반복 -->
					
					<!--[e] 반복 -->
				</ul>
			</div>
			
			<!-- 돈 -->
			<dl class="deliveryMoney">
			
				<dt>총 주문금액</dt>
				<dd><strong>0</strong>원</dd>
			</dl>

			<!-- 버튼 -->
			<div class="btnArea mt30">
				<!-- javascript:alert('죄송합니다.\n시스템 점검으로 인하여 온라인 주문은 현재 이용이 불가능하십니다.\n\n가까운 가맹점으로 전화 주문을 부탁드립니다.') -->
				<a href="/online/online.asp" class="bs btn order">주문하기</a>
			</div>
		</div>

		<a href="javascript:void(0);" class="closeCart"><img src="/images/common/btn_q_close.gif" alt="장바구니 닫기"></a>
	</div>
</div>
<!--[e] 장바구니 -->



<!--[s] 이메일무단수집거부 -->
<div class="layerArea mailLy">
	<p class="tit">이메일무단수집거부
		<a href="javascript:void(0);" class="closeLy"><img src="/images/common/btn_lay_close.gif" alt="닫기"></a>
	</p>
	<div class="contLy">
		<p>
		우리 교촌F&amp;B를 이용하는 많은 고객님들  에게 무차별적이고 무분별하게 발송되는 타사(他社)의 메일 발송을 차단하기 위해서, 본 웹 사이트에 게시된 이메일 주소가 전자 우편 수집 프로그램이나 그 밖의 기술적인 장치를 이용하여 무단으로 수집되는 것을 거부합니다.<br><br>

		<span>이를 위반할 시에는 정보통신망법에 의해 형사 처벌됨을 유념하시기 바랍니다.</span><br><br>

		작성일 : 2010년 8월 2일
		</p>
	</div>
</div>
<!--[e] 이메일무단수집거부 -->

<!-- 2016-05-18 감춤 -->
<iframe width="600" height="0" name="hiddenframe" id="hiddenframe" title="디버깅용" src="/blank.htm" style="display:none;"></iframe>


<!--[s] 로그인 -->



<script type="text/javascript">
	$(window).load(function(){
	});

	function checkfmLayer() {
		if(layerFm.user_id.value.length == 0) {
			alert("아이디를 입력하세요.");
			layerFm.user_id.focus();
			return;
		}
		if(layerFm.pwd.value.length == 0) {
			alert("비밀번호를 입력하세요.");
			layerFm.pwd.focus();
			return;
		}

	

		layerFm.submit();
	}
	
	function RefreshImage(valImageId) {
        var objImage = document.getElementById(valImageId)
        if (objImage == undefined) {
            return;
        }
        var now = new Date();
        objImage.src = objImage.src.split('?')[0] + '?x=' + now.toUTCString();
    }
</script>
<!-- KCB 아이핀 전달 파라메터 아이핀-->
<form name="kcbInForm" method="post">
	<input type="hidden" id="idpCode" name="IDPCODE" title="숨김">
	<input type="hidden" id="idpUrl" name="IDPURL" title="숨김">
	<input type="hidden" id="cpCode" name="CPCODE" title="숨김">
	<input type="hidden" id="curtime" name="CPREQUESTNUM" title="숨김">
	<input type="hidden" id="returnUrl" name="RETURNURL" title="숨김">
	<input type="hidden" id="pubkey" name="WEBPUBKEY" title="숨김">
	<input type="hidden" id="sig" name="WEBSIGNATURE" title="숨김">
</form>
<form name="kcbOutForm" method="post">
	<input type="hidden" name="encPsnlInfo" title="숨김">
	<input type="hidden" name="virtualno" title="숨김">
	<input type="hidden" name="dupinfo" title="숨김">
	<input type="hidden" name="realname" title="숨김">
	<input type="hidden" name="cprequestnumber" title="숨김">
	<input type="hidden" name="age" title="숨김">
	<input type="hidden" name="sex" title="숨김">
	<input type="hidden" name="nationalinfo" title="숨김">
	<input type="hidden" name="birthdate" title="숨김">
	<input type="hidden" name="coinfo1" title="숨김">
	<input type="hidden" name="coinfo2" title="숨김">
	<input type="hidden" name="ciupdate" title="숨김">
	<input type="hidden" name="cpcode" title="숨김">
	<input type="hidden" name="authinfo" title="숨김">
	<input type="hidden" name="certGb" title="숨김">
	<input type="hidden" name="childJoinFlag" value="" title="숨김">
	<input type="hidden" name="cmd" value="order" title="숨김">
	<input type="hidden" name="returnUrl" value="/event/ing.asp" title="숨김">
	<input type="hidden" id="ipinToken" name="seedTokenKey" title="숨김">
</form>
<!--// KCB 아이핀 전달 파라메터 아이핀-->


<!-- KCB 본인인증 전달 파라메터 본인확인-->
<form name="form2">
<!-- POP-UP 요청 정보정보 -->
<!--// 필수 항목 -->
<input type="hidden" name="tc" value="kcb.oknm.online.safehscert.popup.cmd.P901_CertChoiceCmd" title="숨김">				<!-- 변경불가-->
<input type="hidden" id="e_rqstData" name="rqst_data" title="숨김">		<!-- 요청데이터 -->
<input type="hidden" name="target_id" value="" title="숨김">		<!-- 타겟ID -->
<!-- 필수 항목 //-->
</form>
<form name="kcbResultForm" method="post">
	<input type="hidden" name="dupInfo" value="" title="숨김">
	<input type="hidden" name="coinfo1" value="" title="숨김">
	<input type="hidden" name="realname" value="" title="숨김">
	<input type="hidden" name="birthdate" value="" title="숨김">
	<input type="hidden" name="sex" value="" title="숨김">
	<input type="hidden" name="nationalinfo" value="" title="숨김">
	<input type="hidden" name="certGb" value="" title="숨김">
	<input type="hidden" name="childJoinFlag" value="" title="숨김">
	<input type="hidden" name="cmd" value="order" title="숨김">
	<input type="hidden" name="mobile" value="" title="숨김">
	<input type="hidden" name="returnUrl" value="/event/ing.asp" title="숨김">
	<input type="hidden" id="hpToken" name="seedTokenKey" title="숨김">
	<input type="hidden" name="next_page" title="숨김">
</form>
<!--// KCB 본인인증 전달 파라메터 본인확인-->
<!--<div class="layerArea loginLy">-->
<div class="layerArea">
	<p class="tit">로그인
		<a href="javascript:closeLayer();" class="closeLy"><img src="../images/common/btn_lay_close.gif" alt="닫기"></a>
	</p>
	<div class="contLy">
		<p class="txt">로그인하고 주문하기</p>
		<form name="layerFm" action="https://www.kyochon.com/member/login_proc.asp" method="post" target="hiddenframe" autocomplete="off">
		<input type="hidden" name="returnURL" value="/event/ing.asp" title="숨김">
		<input type="hidden" name="eid" value="361" title="숨김">
		<input type="hidden" name="bid" value="" title="숨김">

		<input type="hidden" id="childJoinSns" name="childJoinSns" value="1" title="숨김">
		<input type="hidden" id="sns_email" name="sns_email" value="" title="숨김">
		<input type="hidden" id="sns_user_id" name="sns_user_id" value="" title="숨김">

		<input type="hidden" name="layer_login" value="Y" title="숨김">

		<div class="formArea">
			<input type="text" name="user_id" value="" placeholder="아이디" title="아이디입력폼">
			<input type="password" name="pwd" value="" placeholder="비밀번호" title="비밀번호 입력폼">
			
		</div>
		
		<!--
		<div style="padding-top:20px;">
			<div class="g-recaptcha" data-sitekey="6LeT8zEUAAAAAIFI9UPORw_GYqXK1bOgFQNpHz32"></div>
		</div>
		-->

		

		<div class="search">
			<p class="checkImg"><label class="img" for="isRegId" style="border:none;"><input type="checkbox" id="isRegId" name="isRegId" value="1" title="아이디저장 체크박스"></label> 아이디 저장</p>
			<a href="/member/find_pw.asp" class="password">비밀번호 찾기</a>
			<a href="/member/find_id.asp" class="id">아이디 찾기</a>
		</div>
		<span class="login_btn"><a href="JavaScript:checkfmLayer();"><img src="/images/event/login_btn.gif" alt="로그인"></a></span>
		</form>
		<p class="loginLyBtn" style="display:none">
			<a href="javascript:alert('SNS 회원가입 페이지 준비중입니다. \n빠른 시일에 오픈하도록 하겠습니다. \n\n감사합니다.');" class="naver"><span>로그인</span></a>
			<a href="javascript:alert('SNS 회원가입 페이지 준비중입니다. \n빠른 시일에 오픈하도록 하겠습니다. \n\n감사합니다.');" class="facebook"><span>로그인</span></a>
			<a href="javascript:alert('SNS 회원가입 페이지 준비중입니다. \n빠른 시일에 오픈하도록 하겠습니다. \n\n감사합니다.');" class="kakao"><span>로그인</span></a>

			<!-- SNS 로그인 2016-06-10 주석
			<a href="javascript:naverlogin();" class="naver"><span>로그인</span></a>
			<a href="javascript:facebooklogin();" class="facebook"><span>로그인</span></a>
			<a href="javascript:kakaologin();" class="kakao"><span>로그인</span></a> -->
		</p>
		<p class="join">
			<span>- 아이디 등록을 하시겠습니까?</span>
			<a href="/member/join.asp">아이디 등록</a>
			<!-- <a href="/member/sns.asp">SNS 회원가입</a> -->			
			<br><span>- 비회원 주문도 가능합니다.</span>
		</p>

		<div class="nonMember mt50">
			<p class="tit">바로 주문하기</p>
			<div class="clauseArea" style="margin-top:10px;">
				<h4 class="checkImg"><label for="agree_yn" class="img"><input type="checkbox" id="agree_yn" name="agree_yn" value="Y" title="개인정보 활용동의 체크박스"></label> 개인정보 활용동의 (아래 정책에 동의합니다.)</h4>
				<div class="clauseScroll" tabindex="0">
					제 1조. 수집하는 개인정보의 항목 및 수집방법
					<br><br>
					회사는 계정 생성시 및 개별 서비스 이용 시 필수적으로 필요한 항목이 아닌 개인정보의 수집이용에 관한 고객의 동의 거절을 이유로 서비스 제공을 제한하거나 거절하지 않습니다. <br><br>
					1. 수집하는 개인정보의 항목
<br>
					①. 회사는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 최소한의 개인정보를 수집하고 있습니다. <br>
					- 필수항목: 아이디, 패스워드, 실명 인증 정보<br>
					②. 결제서비스 이용 과정에서 아래와 같은 결제 정보들이 수집될 수 있습니다. <br>
					* 신용카드 이용 시 <br>
					- 성명, 연락처, 카드사명, 카드번호, 결제시간, 승인번호, 결제금액, 이용가맹점 <br>
					* 모바일상품권 이용 시<br>
					- 연락처, 모바일상품권번호, 결제시간, 결제금액, 이용가맹점<br>
					③. 서비스 이용과정에서 아래와 같은 정보들이 자동 또는 수동으로 생성되어 수집될 수 있습니다. <br>
					- 서비스이용기록(이용시간/상품 또는 서비스 구매내역) 및 결제기록, 접속로그, 이용자 IP, 쿠키, 연락처, 배달지 주소<br><br>

					2. 개인정보의 수집방법 <br>
					① 회원가입 및 비회원주문, 고객상담게시판, 가맹개설상담 등 홈페이지 또는 모바일 어플리케이션, 서면, 팩스, 전화, 이메일 등을 통한 수집, 경품행사 응모 및 SNS 등 이벤트 참여 <br>
					② 생성정보 수집 툴을 통한 자동 또는 수동 수집 <br>
<br><br>
					제 2조. 개인정보의 수집 및 이용목적
<br><br>
					회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다. 이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며, 이용 목적이 변경될 시에는 사전동의를 구할 것입니다. <br>
					1. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 주문 결제 서비스 <br>
					①. 주문 상품 또는 경품 등 발송 <br>
					②. 금융거래 본인 인증 및 금융 서비스 <br>
					③. 구매 및 주문 결제, 요금추심 등 <br>
					2. 회원관리 및 본인확인<br>
					①. 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인 식별 <br>
					②. 불량회원의 부정 이용방지와 비인가 사용방지 <br>
					③. 가입의사 확인, 가입 및 가입횟수 제한 <br>
					④. 만14세 미만 아동 청소년 개인정보 수집 시 법정 대리인 동의여부, 추후 법정 대리인 본인확인 <br>
					⑤. 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달
<br><br>
					제 3조. 개인정보 보유 및 이용기간
<br><br>
					이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>
					1.	회사 내부방침에 의한 정보 보유 사유<br>
					-	회원의 부정에 관한 기록: 1년<br>
					-	보존 근거: 부정 이용방지 및 불법적 사용자에 대한 수사기관 수사 협조 <br>
					2.	관련법령에 의한 정보보유 사유 <br>
					①. 계약 또는 청약철회 등에 관한 기록 <br>
					- 보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 <br>
					- 보존 기간 : 5년 <br>
					②. 대금결제 및 재화 등의 공급에 관한 기록 <br>
					- 보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 <br>
					- 보존 기간 : 5년 <br>
					③. 소비자의 불만 또는 분쟁처리에 관한 기록 <br>
					- 보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 <br>
					- 보존 기간 : 3년 <br>
					④. 웹사이트 방문기록 <br>
					- 보존 근거 : 통신비밀보호법 <br>
					- 보존 기간 : 3개월 <br>
					⑤표시/광고에 관한 기록<br>
					-보존근거 : 전자상거래 등에서의 소비자 보호에 관한 법률<br>
					- 보존기간: 6개월
				</div>
			</div>

			<div class="btnArea mt15">
				<a href="javascript:fnIpinSeed();" class="bs btn meddlely bBrown">아이핀 인증하기</a>
				<a href="javascript:fnHpSeed();" class="bs btn meddlely bBrown">휴대폰 인증하기</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="//static.nid.naver.com/js/naverLogin_implicit-1.0.2.js"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script>
	  (function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script>

	function closeLayer() {
		alert("로그인하셔야 온라인 주문 서비스를 이용하실 수 있습니다.");
		location.href="/main/index.asp"
	}
	function naverlogin(){
		window.open('https://nid.naver.com/oauth2.0/authorize?response_type=token&client_id=GbKSdSMBVYSAPILyF1xc&redirect_uri=http://www.kyochon.com/member/login_sns.asp?sns_type=1', 'naverloginpop', 'titlebar=1, resizable=1, scrollbars=yes, width=600, height=550');
		// return false;
	}
	function facebooklogin(){
		FB.init({
			appId      : '161484234211727',
			cookie     : true,  // enable cookies to allow the server to access
			// the session
			xfbml      : true,  // parse social plugins on this page
			version    : 'v2.4' // use version 2.2
		});
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				facebookcallback();
			} else if (response.status === 'not_authorized') {
				FB.login(function(response){
					facebookcallback();
				}, {scope: 'email'});
			} else {
				FB.login(function(response){
					facebookcallback();
				}, {scope: 'email'});
			}
		});
	}
	function kakaologin(){
		Kakao.init('bb75ae7a14f66364e04dd2cc1b1e3bd3');
		Kakao.Auth.login({
			success: function(authObj) {
				Kakao.API.request({
					url: '/v1/user/me',
					success: function(res) {
						var obj = eval("("+JSON.stringify(res)+")");
						$("#sns_user_id").val(obj.id);
						layerFm.action="http://www.kyochon.com/member/login_sns.asp";
						layerFm.submit();
					},
					fail: function(error) {
						alert(JSON.stringify(error));
					}
				});
			},
			fail: function(err) {
				alert(JSON.stringify(err));
			}
		});
	}
	function facebookcallback(){
		FB.api('/me','GET',{"fields":"id,name,gender,email"},
		  function(response) {
			  // Insert your code here
			  var obj = eval("("+JSON.stringify(response)+")");
			  $("#sns_email").val(obj.email);
			  $("#sns_user_id").val(obj.id);
			  layerFm.action="http://www.kyochon.com/member/login_sns.asp";
			  layerFm.submit();
		  }
		);
	}

	window.name ="Parent_window";
	var popupWindow = null;
	// 아이핀 팝업
	function certKCBIpin(){	
		popupWindow = window.open( "", "kcbPop", "left=200, top=100, status=0, width=450, height=550" );
		document.kcbInForm.target = "kcbPop";
		document.kcbInForm.action = "https://ipin.ok-name.co.kr/tis/ti/POTI01A_LoginRP.jsp";
		document.kcbInForm.submit();
		popupWindow.focus();
		return;
	}
	//본인인증 팝업
	function certKCBHp() {
		popupWindow = window.open( "", "kcbPop", "left=200, top=100, status=0, width=450, height=550" );
		document.form2.target = "kcbPop";
		document.form2.action = "https://safe.ok-name.co.kr/CommonSvl";
		document.form2.method = "post";
		document.form2.submit();
		popupWindow.focus();
		return;
	}

	function fnIpinSeed() {
		if($("form[name=kcbOutForm]").find("input[name=cmd]").val() == "order"){
			if($("input:checkbox[name=agree_yn]:checked").length < 1){
				alert("개인정보활용에 동의해주시기 바랍니다.");
				return;
			}
		}
		$.ajax({
			type:"post",
			dataType:"json",
			url : "/_kcb/ipin_seed.asp",
			success:function(result) {
				if(result.RESULT_CODE == "SUCCESS") {
					$("#idpCode").val(result.RESULT_DATA[0].idpCode);
					$("#idpUrl").val(result.RESULT_DATA[0].idpUrl);
					$("#cpCode").val(result.RESULT_DATA[0].cpCode);
					$("#curtime").val(result.RESULT_DATA[0].curtime);
					$("#returnUrl").val(result.RESULT_DATA[0].returnUrl);
					$("#pubkey").val(result.RESULT_DATA[0].pubkey);
					$("#sig").val(result.RESULT_DATA[0].sig);
					$("#ipinToken").val(result.RESULT_DATA[0].seedTokenKey);
					certKCBIpin();
				} else {
					alert("일시적인 오류가 발생했습니다.\n\n다시 시도해 주세요.");
				}
			},
			error:function(request, status, error){	
				console.log("code:"+request.status+ ", message: "+request.responseText+", error:"+error);
				alert("일시적인 오류가 발생했습니다.\n\n다시 시도해주세요.");
			}	
		});
	}

	function fnHpSeed() {
		if($("form[name=kcbOutForm]").find("input[name=cmd]").val() == "order"){
			if($("input:checkbox[name=agree_yn]:checked").length < 1){
				alert("개인정보활용에 동의해주시기 바랍니다.");
				return;
			}
		}
		$.ajax({
			type:"post",
			dataType:"json",
			url : "/_kcb/hp_seed.asp",
			data: {
				'hsCertRqstCausCd' : '00'
			},
			success:function(result) {
				if(result.RESULT_CODE == "SUCCESS") {
					$("#e_rqstData").val(result.RESULT_DATA[0].e_rqstData);
					$("#hpToken").val(result.RESULT_DATA[0].seedTokenKey);
					certKCBHp();
				} else {
					alert("일시적인 오류가 발생했습니다.\n\n다시 시도해 주세요.");
				}
			},
			error:function(request, status, error){	
				console.log("code:"+request.status+ ", message: "+request.responseText+", error:"+error);
				alert("일시적인 오류가 발생했습니다.\n\n다시 시도해주세요.");
			}		
		});
	}
	</script>

<!--[e] 로그인 -->


<!-- ###################################################################### -->
<!-- GoogleAnalytics                                                        -->
<!-- 등록자 : PULIPINC                                                        -->
<!-- 등록일 : 2016. 05. 17                                                    -->
<!-- ###################################################################### -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77868631-1', 'auto');
  ga('send', 'pageview');

</script>


<!-- ###################################################################### -->
<!-- CAFE24 리포트 2.0                                                        -->
<!-- 등록자 : PULIPINC                                                        -->
<!-- 등록일 : 2016. 05. 17                                                    -->
<!-- ###################################################################### -->
<!-- 리포트2.0 로그분석코드 시작 -->
<script type="text/javascript">
var JsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var uname = escape('교촌');
document.write(unescape("%3Cscript id='log_script' src='" + JsHost + "kyochon.weblog.cafe24.com/weblog.js?uid=kyochon&uname="+uname+"' type='text/javascript'%3E%3C/script%3E"));
</script><script id="log_script" src="http://kyochon.weblog.cafe24.com/weblog.js?uid=kyochon&amp;uname=교촌" type="text/javascript"></script>
<!-- 리포트2.0  로그분석코드 완료 -->


<!-- ###################################################################### -->
<!-- 구글애널리틱스                                                   -->
<!-- 등록자 : UGBOSS                                                        -->
<!-- 등록일 : 2017.04.25                                                  -->
<!-- ###################################################################### -->
<!-- 구글 애널리틱스 시작 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91680201-1', 'auto');
  ga('send', 'pageview');
	
</script>
<!-- 구글 애널리틱스 종료 -->

<!-- ###################################################################### -->
<!-- 네이버애널리틱스                                                   -->
<!-- 등록자 : UGBOSS                                                        -->
<!-- 등록일 : 2017.04.25                                                  -->
<!-- ###################################################################### -->
<!-- 네이버 애널리틱스 시작 -->
<script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "1965ab41f8eb50";
wcs_do();
</script>
<!-- 네이버 애널리틱스 종료 -->
</div>